<nav id="header" class="navbar navbar-expand-lg sticky-top mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"> LEGO Checker </a>
    {{ data$ | async }}
    <div class="navbar-user">
      <ng-container *ngIf="authService.user$ | async as user; else guestTemplate">
        <span>Hello, {{ user.displayName }}!</span>
        <button (click)="authService.logout()">Logout</button>
      </ng-container>
      <ng-template #guestTemplate>
        <span>Hello, guest!</span>
        <button routerLink="/auth/login">Login</button>
      </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
