<div class="container">
  <form [formGroup]="form" (ngSubmit)="search()" class="mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 align-items-end">
      <div class="col">
        <label for="search_type" class="form-label">Type</label>
        <select
          id="search_type"
          class="form-select"
          formControlName="search_type">
          <option
            *ngFor="let searchType of searchTypes"
            [value]="searchType.id">
            {{ searchType.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="search" class="form-label">Term</label>
        <input
          type="text"
          class="form-control"
          id="search"
          formControlName="search" />
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="searching">
    <!-- <p class="d-flex justify-content-center align-items-center">
      <span class="spinner-border" role="status" aria-hidden="true"></span>
      Searching ...
    </p> -->
    <app-loading message="Searching..."></app-loading>
  </ng-container>

  <ng-container *ngIf="searchResults$ | async as searchResults">
    <h6 class="text-center mb-4">Total Found: {{ searchResults.count }}</h6>
    <app-search-item
      [searchResults]="searchResults.results"
      [userSetIds]="userSetIds"></app-search-item>

    <!-- <div *ngIf="searchResults.previous || searchResults.next" class="d-flex justify-content-center mb-4">
      <div class="btn-group" role="group" aria-label="Page Navigation">
        <button type="button" class="btn btn-primary" (click)="prevNext(searchResults.previous)" [disabled]="!searchResults.previous">Previous</button>
        <button type="button" class="btn btn-primary" (click)="prevNext(searchResults.next)" [disabled]="!searchResults.next">Next</button>
      </div>
    </div> -->
  </ng-container>
</div>
